body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  header {
    background-color: #aa0707;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  
  footer{
    margin-top: 20px;
    background-color: #aa0707;
    color: #f4e9df;
    text-align: center;
    padding: 1rem;
  }
  
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  

  /* header link */
  nav ul li a {
    color: #f4e9df;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s;
  }

  nav ul li a:hover {
    color: #000000b0;
    text-decoration: none;
    font-weight: 600;
  }

  
  
  main {
    padding: 2rem;
    text-align: center;
  }
  
  main h1 {
    font-size: 2.5rem;
  }
  
  main p {
    font-size: 1.2rem;
  }
  





  .slider {
    position: relative;
    width: 96%;
    margin: auto;
    overflow: hidden;
    max-width: 96%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 500px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 50px;
}

 

.prev {
    left: 0;
}

.next {
    right: 0;
}

footer a{

    text-decoration: none;
    color:#faeada ;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.2s;
}

footer a:hover{

    color:#000000 ;
 
}


h1{
    color: #1661b1; 
}


.links{
    margin-top: 50px; 
  
  }

  
   .links a :hover{
    border: 3px solid #aa0707 ;
    
    } 
  
  .links a img  {
    border-radius: 100px;
    width: 60px;
    margin-left: 50px;
    
   box-shadow: 5px 5px 10px rgba(160, 4, 4, 0.6);
  
  
  }


  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.445);
  }

  .contact-form h1 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #007BFF;
  }

  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
    
    
  }

  .contact-form input, 
  .contact-form textarea {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 10px;
    border: 1px solid #00000071;
    border-radius: 4px;
     
  }


  
  .btn_to_send_email{
  margin-top: 20px;
  justify-items: center;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid #000000 ;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
  transition: all 0.2s;
  }


  .btn_to_send_email:hover{

  border: 3px solid #0629c7 ;
  background-color: #0629c7;
  color: #ffffff;
  /* font-weight: 800; */
  width: 230px;
  height: 55px;
  box-shadow: 10px 10px 10px rgba(11, 41, 211, 0.541);}




  .box {
 
    max-width: 90%;
    margin: 2rem auto ;
    padding: 1rem;
    border: 1px solid #4e4d4d;
    border-radius: 8px;
    background-color: #d1d0d05e;
    text-align: left;
  }

  .box h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #007BFF;
  }

  .box h2 {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: #0056b3;
  }

  .box p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }