body  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#beef62c4;
   transition: all 0.3s;
  }

  
/* body.dark-mode{

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  background-color:#5a5a5a;
} */


  header {
    background-color: #272525;
    color: white;
    height: 80px;
    text-align: left;
    padding: 10px;
    display: flex;
    box-shadow: 0px 10px 10px #00000059;
    transition: all 0.3s;
  }
  /* header.dark-mode{
    background-color: #000000;
    color: white;
    height: 80px;
    text-align: left;
    padding: 10px;
    display: flex;
    box-shadow: 0px 10px 10px #00000059;
    transition: all 0.3s;

  } */
  

 
    /* codetechlogo */
    .codetechlogo{
      width: 100%;
      transition:all 0.3s;
       margin-left: 10px;
       margin-top: 10px;
      
    }
    .codetechlogo:hover {
      transform: scale(1.1); /* Slightly enlarge on hover */
  }
  .rightS {
    display: flex;
    align-items: end;
    justify-content: end;
   
    width: 100%;
}

.language {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff; /* White background for select */
  color: #333; /* Text color */
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

#language:hover {
  background-color: #f0f0f0; /* Slightly darker on hover */
}


/* Dark and Light Mode  */




/* nav */
.navk{
  width: 20px;
}

.offcanvas-header{

  background-color: #f4743b;
}

nav {
display: block; /* Hidden by default */
  position: sticky;
  top: 100%;
  right: 10px;
  background-color: #3c6d7100;
  
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Ensure nav is on top when shown */
}

nav ul {
list-style-type: none;
margin: 0;

text-align: left;
padding: 0;
}

nav ul li {
margin: 5px 0;
}
nav ul li a {
color: rgb(0, 0, 0);
text-decoration: none;
padding: 8px 12px;
display: block;
transition:all 0.2s  ;
}

nav ul li a:hover {
background-color: #f4733ba4; /* Darker background on hover */
border-radius: 4px;
}

.nav-toggle {
background-color: #f4743b;
color: rgb(2, 2, 2);
padding: 10px 15px;
font-size: 16px;
border: none;
border-radius: 5px;
transition:all 0.3s;
cursor: pointer;
margin-right: 10px;
}

.nav-toggle:hover {
background-color: #5c2f1b;
}

/* Navigation styling inside nav.html */

















/* footer */
  
  footer{
    margin-top: 20px;
    background-color: #272525;
    color: #f4e9df;
    text-align: center;
 
    padding: 1rem;
  }
  
   
  
  
  main {
    /* padding: 2rem; */
    text-align: center;
     
  }
  
  main h1 {
    font-size: 2.5rem;
  }
  
  main p {
    font-size: 1.2rem;
  }
  



  /* home page style  */  /* home page style  */  /* home page style  */  /* home page style  */  /* home page style  */  /* home page style  */

  .mainp{
    display: flex;

     
  }

  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

    
}
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}


 .Welcome{
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
   animation: fadeInUp 2s ease-out; 
   font-size: 40px;
  margin-top: 10%;
  font-weight: 800;
  width: 40%;
  transition: all 0.3s;
  margin-left: 15px;

  text-shadow: 5px 5px 0px #f4733b59 ;
} 

.Welcome strong{
color: #f4743b;
text-shadow: 5px 5px 0px #00000025 ;
}
.Welcome sup{
  font-size: 15px;
  font-weight: 600;
}
 

 


  .slider-home {
    position: relative;
  
    width: 50%;
    overflow: hidden;
    margin-left: 15px;
    border: 2px solid #00000079;
    
     
}

.slides-home {
    display: flex;
    transition: transform 0.5s ease-in-out;
    background-color: #0056b3;
}

.img-home {
    min-width: 100%;
    height: 500px;
}




.slider  {
  position: relative;

  width: 90%;
  overflow: hidden;
  margin-left: 15px;
  border: 2px solid #00000079;
  
   
}

.slides  {
  display: flex;
  transition: transform 0.5s ease-in-out;
  background-color: #0056b3;
}

.slide{
  min-width: 100%;
  height: 500px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 50px;
}

 

.prev {
    left: 0;
}

.next {
    right: 0;
}



.introduction{

  padding: 5px;
  margin-top: 50px;
  margin-left: 20px;
 

}
.introduction-text{
 
  text-align: left;
   
  color: #000000;
  font-size: 20px;
  font-style: initial;
  font-weight: 600;
}
.introduction-text strong {

  font-weight: 600;
  color: #f4743b;
}





footer a{

    text-decoration: none;
    color:#faeada ;
    font-weight: 600;
    font-size: 17px;
    
    transition: all 0.2s;
}

footer a:hover{

    color:#000000 ;
 
}


 


.links{
    margin-top: 50px; 
  
  }

  
   .links a :hover{
    border: 3px solid #aa0707 ;
    
    } 
  
  .links a img  {
    border-radius: 100px;
    width: 60px;
    margin-left: 50px;
    
   box-shadow: 5px 5px 10px rgba(160, 4, 4, 0.6);
  
  
  }


  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.445);
  }

  .contact-form h1 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #007BFF;
  }

  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
    
    
  }

  .contact-form input, 
  .contact-form textarea {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 10px;
    border: 1px solid #00000071;
    border-radius: 4px;
     
  }


  
  .btn_to_send_email{
  margin-top: 20px;
  justify-items: center;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid #000000 ;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
  transition: all 0.2s;
  }


  .btn_to_send_email:hover{

  border: 3px solid #0629c7 ;
  background-color: #0629c7;
  color: #ffffff;
  /* font-weight: 800; */
  width: 230px;
  height: 55px;
  box-shadow: 10px 10px 10px rgba(11, 41, 211, 0.541);}




  .box {
 
    max-width: 90%;
    margin: 2rem auto ;
    padding: 1rem;
    border: 1px solid #4e4d4d;
    border-radius: 8px;
    background-color: #d1d0d05e;
    text-align: left;
  }

  .box h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #007BFF;
  }

  .box h2 {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: #0056b3;
  }

  .box p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }












 




























































  /* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4.5em;
  cursor: pointer;
  margin-right: 1em;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

 
/* body {
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
} */