<header>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../about.html">About</a></li>
        <li><a href="../services.html">Services</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../album.html">Album</a></li>
        <li><a href="../portfolio.html">Portfolio</a></li>
        <li><a href="../contact.html">Contact Us</a></li>
        <li><a href="../privacy.html">Privacy and Policy</a></li>
        <li><a href="../terms.html">Terms and Conditions</a></li>
        <li><a href="../faqs.html">FAQs</a></li>
        
      </ul>
    </nav>
  </header>