<!-- <nav>
      <ul>
         
        <li><a href="../index.html">Home</a></li>
        <li><a href="../about.html">About</a></li>
        <li><a href="../services.html">Services</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../album.html">Album</a></li>
        <li><a href="../portfolio.html">Portfolio</a></li>
        <li><a href="../contact.html">Contact Us</a></li>
        <li><a href="../privacy.html">Privacy and Policy</a></li>
        <li><a href="../terms.html">Terms and Conditions</a></li>
        <li><a href="../faqs.html">FAQs</a></li>
        
      </ul>
    </nav> -->

<nav>
  <div
    class="offcanvas offcanvas-end navk"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
  >
    <div class="offcanvas-header">
      <h5 style="color: white" id="offcanvasRightLabel">Menu</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../about.html">About</a></li>
        <li><a href="../services.html">Services</a></li>
        <li><a href="../projects.html">Projects</a></li>
        <li><a href="../album.html">Album</a></li>
        <li><a href="../portfolio.html">Portfolio</a></li>
        <li><a href="../contact.html">Contact Us</a></li>
        <li><a href="../privacy.html">Privacy and Policy</a></li>
        <li><a href="../terms.html">Terms and Conditions</a></li>
        <li><a href="../faqs.html">FAQs</a></li>
      </ul>
    </div>
  </div>
</nav>

<style></style>
